# ============================================================
# SECRETS
# NE JAMAIS COPIER DANS L'IMAGE DOCKER
# ============================================================

.env
.env.
!.env.example

ca.pem
.pem
.key
.crt


# ============================================================
# GIT
# ============================================================

.git
.gitignore
.github


# ============================================================
# PYTHON
# ============================================================

__pycache__
.py[cod]
.pyo
.pyd

.pytest_cache
.mypy_cache
.ruff_cache


# ============================================================
# ENVIRONNEMENTS VIRTUELS
# ============================================================

.venv
venv
env
ENV


# ============================================================
# IDE  ÉDITEURS
# ============================================================

.vscode
.idea


# ============================================================
# LOGS
# ============================================================

.log
collecte_brvm.log


# ============================================================
# WINDOWS
# ============================================================

Thumbs.db
Desktop.ini

.cmd
.bat


# ============================================================
# FICHIERS TEMPORAIRES
# ============================================================

.tmp
.temp
.bak
.swp
~