# ============================================================
# CONNEXION AU SITE SGI
# ============================================================

SGI_BASE_URL=https://myaccount.sgibenin.com/index.html
SGI_LOGIN=VOTRE_LOGIN_SGI
SGI_PASSWORD=VOTRE_MOT_DE_PASSE_SGI


# ============================================================
# AIVEN FOR MYSQL
# Aiven Console > votre service MySQL > Overview >
# Connection information
# ============================================================

AIVEN_MYSQL_HOST=mysql-xxxxxxxx.aivencloud.com
AIVEN_MYSQL_PORT=12345
AIVEN_MYSQL_USER=avnadmin
AIVEN_MYSQL_PASSWORD=VOTRE_MOT_DE_PASSE_AIVEN
AIVEN_MYSQL_DATABASE=defaultdb


# ============================================================
# TLS / CERTIFICAT CA AIVEN
# Exemple si ca.pem est dans le même dossier que le script :
# AIVEN_CA_CERT=ca.pem
#
# Exemple Windows :
# AIVEN_CA_CERT=C:/Users/VOTRE_NOM/MonProjet/ca.pem
# ============================================================

AIVEN_CA_CERT=ca.pem


# ============================================================
# SQL / TABLE
# Si vous utilisez vos propres tables :
# AIVEN_AUTO_CREATE_TABLE=false
# puis adaptez seulement Collecte_data_BRVM() dans le script.
# ============================================================

AIVEN_MYSQL_TABLE=brvm_market_snapshots
AIVEN_AUTO_CREATE_TABLE=true


# ============================================================
# TIMEOUTS MYSQL
# ============================================================

DB_CONNECT_TIMEOUT=10
DB_READ_TIMEOUT=20
DB_WRITE_TIMEOUT=20
